.form {
    margin: 20px 0;
}
.input-message{
    width: 400px;
    border-radius: 4px;
    border: 1px solid #282c34;
    font-size: 18px;
    padding: 5px 5px;
}
.input-author {
    width: 200px;
    border-radius: 4px;
    border: 1px solid #282c34;
    font-size: 18px;
    padding: 5px;
    margin: 0 10px;
}
.btn {
    padding: 6px 10px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    background: #282c34;
    color: #fff;
}